.home-card-one {
    padding: 1rem;
    text-align: center;
    margin: 1rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: #FFCCE8;
    font-weight: bold;
    height: 530px;
}

.home-card-one .subtext {
    color: #FFCCE8;
    font-size: 1.5rem;
}

.home-card-one:hover {
    background-color: #FF289A;
    color: #FFCCE8
}

.home-card-two {
    padding: 1rem;
    text-align: center;
    margin: 1rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: #FFF8DD;
    font-weight: bold;
    height: 530px;
}

.home-card-two .subtext {
    color: #FFF8DD;
    font-size: 1.5rem;
}

.home-card-two:hover {
    background-color: #FFC700;
    color: #FFF8DD;
}

.home-card-three {
    padding: 1rem;
    text-align: center;
    margin: 1rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: #9AF3DF;
    font-weight: bold;
    height: 530px;
}

.home-card-three:hover {
    background-color: #00B78E;
    color: #9AF3DF;
}

.home-card-three .subtext {
    color: #9AF3DF;
    font-size: 1.5rem;
}


.home-card-one .square-one {
    height: 220px;
    width: 220px;
    background-color: #FF289A;
    border-radius: 10px;
}

.home-card-one:hover > .square-one {
    background-color: #FFCCE8 !important;
}

.square-two {
    height: 220px;
    width: 220px;
    background-color: #FFC700;
    border-radius: 10px;
}

.home-card-two:hover > .square-two {
    background-color: #FFF8DD !important;
}

.square-three {
    height: 220px;
    width: 220px;
    background-color: #00B78E;
    border-radius: 10px;
}

.home-card-three:hover > .square-three {
    background-color: #9AF3DF;
}